body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 20px 12vw;
    padding-bottom: 75px;
    color: #f9faf8;
    font-size: 18px;
    gap: 20px;
}

.header_logo {
    height:65px;
    width: auto;
    border-radius: 100%;
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

ul, 
li {
    display: inline;
    list-style: none;
    text-decoration: none;
    margin: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

header div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 100px;
}

header div h1 {
    font-size: 48px;
}

.poisson {
    width: 700px;
    height: auto;
}

header div button {
    background-color: #3882f6;
    width: 150px;
    height: 35px;
    color: #f9faf8;
    font-size: 18px;
    border-radius: 10px;
    border: none;
}

main {
    width: 100%;
}

.div_card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding: 100px 0;
}


.div_card .coquin {
    font-size: 48px;
    font-weight: bold;
    color: #1F2937;
}

.card_premium {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 120px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    text-align: center;
}

.indented {
    width: 200px;
    height: 200px;
    border: 6px solid #3882f6;
    border-radius: 15px;
}

.citation {
    background-color: #e5e7eb;
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    padding: 100px 0;
    
}

.citation p {
    font-size: 28px;
    font-weight: bold;
    text-align: end;
    margin-right: 29vw;
}

.blue-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-box-content {
    width: 60vw;
    height: 200px;
    background-color: #3882f6;
    margin: 170px 0;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 20px;
}

.blue-box-content div {
    text-align: start;
    color: #f9faf8;
    font-size: 20px;
    margin-left: 150px;
}

.blue-box-content button {
    height: 60px;
    width: 190px;
    border: 2px solid #f9faf8;
    background-color: inherit;
    color: #f9faf8;
    border-radius: 10px;
    font-size: 25px;
    font-weight: bold;
    margin-left: 100px;
}

footer {
    background-color: #1F2937;
    height: 15vh;
    width: 100%;
    color: #f9faf8;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

